<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown d-flex">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="my-home-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Home
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="my-home-link">
                <a href="" class="dropdown-item">Goals</a>
                <a href="{% url 'profile' %}" class="dropdown-item ">Profile</a>
            </div>
        </li>

        <li class="nav-item dropdown d-flex">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="nutrition-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrition
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nutrition-link">
                <a href="" class="dropdown-item">Food Log</a>
                <a href="" class="dropdown-item">Database</a>
            </div>
        </li>

        <li class="nav-item dropdown d-flex">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="exercise-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exercise
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="exercise-link">
                <a href="{% url 'exercise_logs' %}" class="dropdown-item">Exercise Logs</a>
                <a href="{% url 'exercises' %}" class="dropdown-item">Exercise Database</a>
            </div>
        </li>

        <li class="nav-item dropdown d-flex">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="community-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Community
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="community-link">
                <a href="{% url 'community:community' %}" class="dropdown-item">Community Wall</a>
                <a href="" class="dropdown-item">Mail</a>
            </div>
        </li>

        <li class="nav-item dropdown d-flex">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
</div>